@import "partials/variables";
@import "partials/navigation";
@import "partials/balloon";


h1, h2, h3, h4, h5, h6, ul, a, p {
  margin: 0;
  padding:0;
}

body {
  font-size:14px;
  font-family: 'wb', sans-serif;
  background-color:$secondary;
  color: #333;
  // font-family: 'Arimo', sans-serif;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-family: 'Patua One', cursive;
}

h3 {
  display: inline-block;
  color: $primary;
  padding-right: 20px;
  font-size:1rem;
}

h4 {
  font-size: .85rem;
  font-weight: 500;
}

h5 {
  font-size:.8rem;
  font-weight:300;
}

h6 {
  font-size: .6rem;
  padding-top: 10px;
  font-weight: 600;
}

a {
  text-decoration: none;
  // font-family: 'Patua One', cursive;
}

li {
  list-style-type: none;
}

button {
  outline:none;
}

//////////////////////////////////////
// Side-Reading Content///////////////
//////////////////////////////////////

.side-reading {
  border:2px solid $primary;
  background-color: $secondary;
  float: left;
  width:23%;
  padding: 5px;
  box-sizing: border-box;
  margin: 4% 3% 3% 3%;
  height: 550px;
  overflow: scroll;
}

.friends-review-header {
  margin: 5px;
}

.friend-review {
  border-bottom: 1px solid $primary;
  padding-bottom: 15px;
  margin: 5% 1%;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    padding: 0 0 5px;
  }
  img {
    height: 150px;
    width:100px;
    border:1px solid #333;
    object-fit: cover;
  }
  button {
    background:$primary;
    padding: 5px;
    border:none;
    display: block;
    margin:0 auto;
    box-shadow: 1px 2px 5px #333;
    p {
      text-transform: uppercase;
      color: $accent;
      font-size: .8rem;
    }
  }
}
//Contains the book cover on the friends side nav bar
.image-container {
  width: 50%;
  float: left;
}

.friend-review:nth-of-type(5) {
  border-bottom: none;
  padding-bottom: 5px;
}

.friend-review-content{
  float: right;
  width: 50%;
  text-align: center;
}

.fa-star {
  color: $primary;
  padding: 8px 0;
  font-size: 1.2rem;
}

.shrink {
  letter-spacing: -1px;
}


//////////////////////////////////////
// Reading Content////////////////////
//////////////////////////////////////
.main-reading-nav {
  button {
    padding: 5px 5px 5px 0;
    border:none;
    color: $primary;
    font-weight: 800;
    border-bottom: 3px solid transparent;
    background: transparent;
    margin-bottom: 5px;
  }
  button:hover, button:focus {
    border-bottom: 3px solid $primary;
  }
}
.main-reading-nav:hover {
  button {
    cursor: pointer;
  }
}

.current-books, .to-read-books {
  display:none;
}

.reading-content {
  background:$accent;
  width:90%;
  margin:0 auto;
  margin-top:25px;
  padding: 10px;
}

.main-reading {
  float: left;
  width:70%;
  box-sizing: border-box;
  padding-left:1%;

  .books, .current-books, .to-read-books {
    height: 625px;
    overflow:scroll;

      article {

        margin: 2% 3% 1% 0;
        border: 1px solid $primary;
        text-align: center;
        float: left;
        width: 21%;
        overflow: hidden;

      img:nth-child(1) {
        width: 100%;
        height:250px;
        object-fit: cover;
      }
      img:hover {
        p {display:block};
      }
      .stars {
        height:20px;
        object-fit: contain;
        padding-bottom:5px;
      }
    }
  }
}




//////////////////////////////////////
// Footer ///////////////////////////
//////////////////////////////////////
footer {
  width: 70%;
  margin: 3% auto;
  ul {
    float: left;
    width: 21%;
    margin:1% 2%;
    li a {
      line-height: 1.6;
      color: #333;
    }
    li a:hover {
      text-decoration: underline;
    }
  }
}
.footer-nav-right {
  float: right;
  text-align: right;
}

// Clearfix
.clearfix::after {
  content:"";
  clear:both;
  display:block;
}

@import "partials/media";
