// Navigation///////////////
////////////////////////////

// Mobile
.mobile-nav {
  padding:10px 0;
  height:75px;
  background: $secondary;
  display: none;
  width: 100%;

  img {
    height:50px;
  }
  img:nth-of-type(1) {
    height: 75px;
  }
}

#search-icon {
  height:50px;
  position: relative;
}

.search-window{
  display: none;
  background: rgba(211, 224, 205, 0.9);
  height: 100vh;
  width:100vw;
  position:absolute;
  right:0px;
  top:85px;
  padding-top: 50px;
  text-align:center;

  input {
    background-color: $accent;
    color: #333;
    padding: 10px 20px;
    outline:#fff;
    width: 200px;
    margin: 0 auto;
    display: block;
  }
  #search-submit {
    width: 85px;
    margin-top: 15px;
  }
}

.hamburger {
    position: relative;
    border:none;
    background-color:$accent;
    color:$primary;
    outline:0;
    border-radius: 4px;
    padding: 6px 10px;
 }

 .mobile-nav-li {
   margin:0;
   border:1px solid red;
 }

 .hamburger-menu {
  display: none;
  position:absolute;
  left:0px;
  top:80px;
  text-align:left;
  li {
    margin:0;
    a {
      color:$accent;
      padding:10px 10px 10px 30px;
      background-color:rgba(73, 40, 47,.9);
      display: inline-block;
      width:100vw;
      border-bottom:1px solid $accent;
    }
    a:focus, .selected {
      background-color:rgba(73, 40, 47,1);
    }
  }
}

////////////////////////////
// Desktop//////////////////
////////////////////////////

.desktop-header {
  // height:75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px 50px;

// Logo Image
  img:nth-child(1){
    height: 65px;
  }

  img {
    height:50px;
    cursor: pointer;
    padding:0 10px;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-stlye: none;

    li{
      display: inline-block;
      position: relative;
      right: 0;
      margin-right: 10px;
      // width: 150px;

      a {
        display: block;
        background-color: rgba(73, 40, 47, .9);
        color: $accent;
        padding:10px 20px;
      }

      a:hover, .selected {
        background-color:$primary;
        transition: all .4s ease-in-out;
      }

      ul{
         position: absolute;
         display: none;
         z-index: 100;

         li a {
           width: 161px;
         }
      }

      &:hover ul{
          display: block;
      }
    }
  }
}


.account {
  height:50px;
  width:50px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 100% 0%;
}

.desktop-header input {
  font-size: 1.05rem;
  padding: 5px;
  outline-color: $accent;
}
