// Navigation///////////////
////////////////////////////

// Mobile
.mobile-nav {
  padding:10px 0;
  height:30px;
  background: $secondary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;//-->REMOVE in Media Queries
  width: 100%;

  img {
    height:50px;
  }
}

#search-icon {
  height:40px;
  position: relative;
}

.search-window{
  display: none;
  // background-color:rgba(73, 40, 47,.98);
  background: rgba(20, 20, 20, .9);
  height: 100vh;
  width:100vw;
  position:absolute;
  right:0px;
  top:50px;
  padding-top: 50px;
  text-align:center;

  li {
    background-color: $accent;
    color: #333;
    padding: 10px 20px;
    outline:#fff;
    width: 200px;
    margin: 0 auto;
  }
}

 .hamburger {
    position: relative;
    border:none;
    background-color:$accent;
    color:$primary;
    outline:0;
    border-radius: 4px;
    padding: 3px 6px;
 }

 .hamburger-menu {
  display: none;
  position:absolute;
  left:0px;
  top:50px;
  text-align:left;
  li {
    a {
      color:$accent;
      padding:10px 10px 10px 30px;
      background-color:rgba(73, 40, 47,.9);
      display: inline-block;
      width:100vw;
      border-bottom:1px solid $accent;
    }
    a:focus, .selected {
      background-color:rgba(73, 40, 47,1);
    }
  }
}

////////////////////////////
// Desktop//////////////////
////////////////////////////

.desktop-header {
  height:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px 50px;

  img {
    height:50px;
    position: relative;
    top:20px;
    padding:0 10px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-stlye: none;

    li{
      display: inline-block;
      position: relative;
      // width: 150px;

      a {
        display: block;
        background-color: rgba(73, 40, 47, .9);
        color: $accent;
        padding:10px 20px;
      }

      a:hover, .selected {
        background-color:$primary;
        transition: all .4s ease-in-out;
      }

      ul{
         position: absolute;
         display: none;

         li a {
           width: 161px;
         }
      }

      &:hover ul{
          display: block;
      }
    }
  }
}


.account {
  height:50px;
  width:50px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 100% 0%;
}

.desktop-header input {
  font-size: 1.05rem;
  padding: 5px;
  outline-color: $accent;
}
